/* auth form  */
h1 {
    color: white;
    font-size: 32px; 
    padding-top: 50px;
    padding-bottom: 10px;  
    line-height: 70px; 
}


.form {
    margin-left: 36%;
    margin-right:36%;
    margin-bottom: 20px; 
}

.auth_form {
    background-color: white; 
    width: 300px; 
    height: 300px; 
    padding-top: 10px; 
    border: 1px solid #f0f0f0;
    border-color: rgb(9, 87, 74);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 25px;
	box-shadow: 5px 5px 20px #171717;
  }
  

  .nav_btn {
    
    background-color: white;
    color: rgb(9, 87, 74);
    border-bottom: 0;
   text-decoration: none; 
   margin: 20px; 
   border-radius: 60px; 
   padding: 16px 50px;
   

  }

  
  .submit_btn {
    
    background-color: rgb(9, 87, 74);
    color:white;
    border-bottom: 0;
   text-decoration: none; 
   margin: 20px; 
   border-radius: 60px; 
   padding: 16px 50px;
   

  }
